* {
    padding: 10px;
}

.title {
    background: rgb(45, 45, 182);
}

.title h1{
    font-size: 40px;
}

.buttons {
    display: flex; 
    margin: 30px;
    
}

.buttons .item {
    width: 50px;
    height: 40px 0;
    border: 1px solid black;
    justify-content: flex-start;
    background: lightsalmon;
    text-align: center;
    
}

.item:hover {
    background: rgb(236, 236, 17);
    color: black}

.middle {
    background: rgb(129, 177, 137);
}

.middle .middle_header {
    display: flex;
}

.middle_header .featured_pic {
    zoom: 2;
}

.project_intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.project_intro section {
    padding: 70px 0;
}

.middle .middle_header .project_intro .item {
    width: 50px;
    height: 40px 0;
    border: 1px solid black;
    justify-content: flex-start;
    background: lightsalmon;
    text-align: center;
    margin: 5px;
}

.middle .middle_header .project_intro .item:hover {
    background: rgb(236, 236, 17);
    color: black;
}

.middle .pictures{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: flex-start;
}



.bottom {
    background: rgb(45, 45, 182);
    display: flex;  
    text-align: center;
    flex-direction: column;
    align-items: center;
    

}

.bottom .contact {
    width: 50px;
    height: 40px 0;
    border: 1px solid black;
    justify-content: flex-start;
    background: lightsalmon;
}

.bottom .contact:hover {
    background: rgb(236, 236, 17);
    color: black}
